<div class="content1">
    <div [ngClass]="{'popup': this.fetchDataStatus == 1, 'hideItem' : this.fetchDataStatus == 0}">
        <div class="progressBar"><mat-spinner></mat-spinner></div>
    </div>
    <div id="searchPanel" class="searchPanel">
        <div id="header1" class="header1">Book flight tickets online!</div>
        <div id="searchTitle" class="searchTitle">Flights</div>
        <div class="searchBox-1">
            <div class="FTIAbMIXgywkyEyCngMv">
                <div class="fjillalIcMTJKi2S8xYv">
                    <button (click)="tripTypeEvent(1)" [ngClass]="{'SLvwW3ROx8TqANz1LUPX' : tripType === 1}"  type="button">One-way</button>
                    <button (click)="tripTypeEvent(2)" [ngClass]="{'SLvwW3ROx8TqANz1LUPX' : tripType === 2}" type="button">Round-trip</button>
                    <button (click)="tripTypeEvent(3)" [ngClass]="{'SLvwW3ROx8TqANz1LUPX' : tripType === 3}" type="button">Multi-city</button>
                </div>
            </div>
        </div>
        <div id="searchBox" class="searchBox">

            <div id="searchBox1" class="searchBox1">
                <div id="searchBox1_R1" class="searchBox1_R1">
                    <div id="sb1Box1" class="sb1Box1" >
                        <label id="label1" class="label1">Source:</label>
                        <input class="input1" placeholder="Available: Warsaw" type="text"
                            (focusin)="focusEvent(true)" (focusout)="focusEvent(false)" >

                        <div
                            [ngClass]="{'flyFromValAutocomplete': this.autocompleteStatus1 == 1, 'hideItem': this.autocompleteStatus1 == 0}">
                            <option (click)="autocomplete1_confirm(option)" [value]="option"
                                *ngFor="let option of flyFromValFilter;let i=index;">{{option}}</option>
                        </div>
                    </div>
                    <div id="sb1Box4" class="sb1Box4" >
                        <label id="label4" class="label4">Destination:</label>
                        <input class="input4" (focusin)="focusEvent(true)" (focusout)="focusEvent(false)" placeholder="Available: London, New York, Paris" type="text"
                            >
                        <div
                            [ngClass]="{'flyToValAutocomplete': this.autocompleteStatus2 == 1, 'hideItem' : this.autocompleteStatus2 == 0}">
                            <option (click)="autocomplete2_confirm(option)" [value]="option"
                                *ngFor="let option of flyToValFilter;let i=index;">{{option}}</option>
                        </div>
                    </div>
                    <div class="sb1Box2">
                        <label id="label2" class="label2">Departure:</label>
                        <input class="input2" type="date" id="departDate">
                    </div>
                </div>

                <div id="searchBox2" class="searchBox2">
                    <button class="searchButton" (click)="getFlightParameters()">search</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="content2">
    <div class="header2"> Airline tickets for over 100 airlines in one place</div>
    <div class="header3">Fast and convenient search engine for air connections</div>
</div>