<div class="content1">
    <!-- <div [ngClass]="{'popup': this.fetchDataStatus == 1, 'hideItem' : this.fetchDataStatus == 0}">
        <div class="progressBar"><mat-spinner></mat-spinner></div>
    </div> -->
    <div id="searchPanel" class="searchPanel">
        <div id="header1" class="header1">Book flight tickets online!</div>
        <div id="searchTitle" class="searchTitle">Flights</div>
        <div class="searchBox-1">
            <div class="FTIAbMIXgywkyEyCngMv">
                <div class="fjillalIcMTJKi2S8xYv">
                    <button (click)="tripTypeEvent(1)" [ngClass]="{'SLvwW3ROx8TqANz1LUPX' : tripType === 1}"
                        type="button">One-way</button>
                    <button (click)="tripTypeEvent(2)" [ngClass]="{'SLvwW3ROx8TqANz1LUPX' : tripType === 2}"
                        type="button">Round-trip</button>
                    <button (click)="tripTypeEvent(3)" [ngClass]="{'SLvwW3ROx8TqANz1LUPX' : tripType === 3}"
                        type="button">Multi-city</button>
                </div>
            </div>
        </div>
        <search-flight></search-flight>
    </div>
</div>

<div class="content2">
    <div class="header2"> Airline tickets for over 100 airlines in one place</div>
    <div class="header3">Fast and convenient search engine for air connections</div>
</div>