* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-family_1: "Arial Black", sans-serif;
$font-family_2: Helvetica, sans-serif;
$font-family_3: "Roboto", sans-serif;





    .searchTitle {
        background-color: #f4e2e2;
        font-family: $font-family_2;
        font-size: 20px;
        padding: 5px 15px 5px 15px;
        width: fit-content;
        border-radius: 15px 15px 0px 0px;
    }

    .searchBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        transition: 0.5s;
        padding-left: 16px;
        font-family: $font-family_2;
        font-size: 18px;
        border-radius: 0 0 15px 15px;
    }

    .searchBox-1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        transition: 0.5s;

        font-family: $font-family_2;
        font-size: 18px;
        border-radius: 15px 15px 0px 0px;
    }

    .searchBox:hover {
        transition: 0.5s;

    }

    .searchBox1 {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 320px;

        .searchBox1_R1 {
            width: fit-content;
            height: 50%;
            display: flex;
            flex-direction: row;

            .sb1Box1 {
                padding: 20px 10px 10px 10px;
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;

                .label1 {
                    margin-top: 10px;
                    font-size: 20px;
                }

                .input1 {
                    margin-top: 10px;
                    width: 400px;
                    z-index: 1;
                    padding-top: 3px;
                    padding-left: 8px;
                    border: 1px solid #dfdfdf;
                    border-radius: 8px;
                    color: #1d1d1d;
                    font-size: 16px;
                    font-weight: 600;
                    transition-duration: 0.5s;
                    height: 64px
                }

                .input1:focus {
                    outline: none;
                    border-color: #44b50c;

                }

                .flyFromValAutocomplete {
                    border: 1px solid rgb(79, 78, 78);
                    border-radius: 3px;
                    width: 100%;
                    height: fit-content;
                    background-color: #ffffff;
                    z-index: 2;
                    transition-duration: 0.5s;
                }

                .flyFromValAutocomplete :hover {
                    cursor: pointer;
                    background-color: #bc7676;
                    transition-duration: 0.5s;
                }
            }


            .sb1Box2 {
                padding: 20px 10px 10px 10px;
                width: fit-content;
                display: flex;
                flex-direction: column;

                .label2 {
                    margin-top: 10px;
                    font-size: 20px;
                }

                .input2 {
                    margin-top: 10px;
                    width: fit-content;
                    height: 64px;
                    width: 400px;
                    padding-top: 3px;
                    padding-left: 8px;
                    border: 1px solid #dfdfdf;
                    border-radius: 8px;
                    color: #1d1d1d;
                    font-size: 16px;
                    font-weight: 600;
                    transition-duration: 0.5s;
                }

                .input2:focus {
                    outline: none;
                    border-color: #44b50c;
                }
            }


            .sb1Box3 {
                padding: 20px 10px 10px 10px;
                width: fit-content;
                display: flex;
                flex-direction: column;

                .label3 {
                    margin-top: 10px;
                    font-size: 20px;
                }

                .input3 {
                    margin-top: 10px;
                    height: 40px;
                    width: 100px;
                    font-size: 18px;
                }
            }

            .sb1Box4 {
                padding: 20px 10px 10px 10px;
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;

                .label4 {
                    margin-top: 10px;
                    font-size: 20px;
                }

                .input4 {
                    margin-top: 10px;
                    width: 400px;
                    z-index: 1;
                    padding-top: 3px;
                    padding-left: 8px;
                    border: 1px solid #dfdfdf;
                    border-radius: 8px;
                    color: #1d1d1d;
                    font-size: 16px;
                    font-weight: 600;
                    height: 64px
                }

                .input4:focus {
                    outline: none;

                    border-color: #44b50c;

                }



                ::placeholder {
                    margin-left: 8px;
                }

                .flyToValAutocomplete {
                    border: 1px solid rgb(79, 78, 78);
                    border-radius: 3px;
                    width: 100%;
                    height: fit-content;
                    background-color: #ffffff;
                    z-index: 2;
                }

                .flyToValAutocomplete :hover {
                    cursor: pointer;
                    background-color: #bc7676;
                    transition-duration: 0.5s;
                }
            }
        }

        .searchBox1_R2 {
            width: fit-content;
            height: 50%;
            display: flex;
            flex-direction: row;
            // z-index: 1;

            .sb1Box5 {
                padding: 0px 10px 10px 10px;
                width: fit-content;
                display: flex;
                flex-direction: column;

                .label5 {
                    margin-top: 10px;
                    font-size: 20px;
                }

                .input5 {
                    margin-top: 10px;
                    height: 40px;
                    width: fit-content;
                    font-size: 18px;
                }
            }

            .sb1Box6 {
                padding: 0px 10px 10px 10px;
                width: fit-content;
                display: flex;
                flex-direction: column;

                .label6 {
                    margin-top: 10px;
                    font-size: 20px;
                }

                .input6 {
                    margin-top: 10px;
                    height: 40px;
                    width: 100px;
                    font-size: 18px;
                }
            }
        }
    }

    .searchBox2 {

        // height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
            margin-top: 75px;

        // background-color: #932c2c;
        .searchButton {
            align-items: center;
            background-color: #44b50c;
            border: none;
            border-radius: 100px;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-size: 16px;
            font-weight: 600;
            height: 48px;
            line-height: 24px;
            outline: none;
            padding: 0 40px;
            text-transform: capitalize;
        }

        .searchButton:hover {
            background-color: #44b50c;
            transform: scale(1.05);
            transition: 0.5s;
            // -webkit-transform: scale(1.05);
        }
    }






.FTIAbMIXgywkyEyCngMv {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.FTIAbMIXgywkyEyCngMv .fjillalIcMTJKi2S8xYv {
    align-items: center;
    display: flex;
    gap: 0 8px;
}

.FTIAbMIXgywkyEyCngMv .fjillalIcMTJKi2S8xYv>button.SLvwW3ROx8TqANz1LUPX {
    background-color: #e7fddc;
    color: #188920;
}

.FTIAbMIXgywkyEyCngMv .fjillalIcMTJKi2S8xYv>button {
    align-items: center;
    background-color: #f4f4f4;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    outline: none;
    padding: 0 16px;
}

.FTIAbMIXgywkyEyCngMv .fjillalIcMTJKi2S8xYv>button {
    align-items: center;
    background-color: #f4f4f4;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    outline: none;
    padding: 0 16px;
}

.input-active {
    outline: none;
    border-color: #44b50c;
    border-radius: 16px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .08);
    padding: 16px;
    top: -16px;
    z-index: 2;
    width: 560px;
}

.kBtJZSbtiCS4lS6mhgCu {
    margin: 8px -16px 0;
    max-height: 312px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bXPmBRr1pylCqzkIxs7X {
    background-color: #e7fddc;
}

.ikZtVUaUNq8xr4ieNUC1 .lLfJiYEUx7Cidl1pRyLQ {
    background-position: -50px -100px;
}

.Yxj1leJo3fpodncgJZq7 {
    align-items: center;
    display: flex;
    gap: 0 8px;
    justify-content: space-between;
    width: calc(100% - 32px);
}

.ldW_MDNWCrLXNIA1VJQS {
    color: #188920;
}

.GuTwH6o849ztUygTOFvC {
    flex-shrink: 0;
    font-size: 16px;
    line-height: 24px;
}