
<h1 style="width: 80%; margin: auto;">Flight Details</h1>
<div class="card border-0 mt-2 shadow rounded">

    <div class="row">
        <div class="col col-md-12 ml-auto mr-auto">
            <div class="col-12 bg-white pl-0 pr-0">
                <div class="row keel-mom no-gutters" style="padding: 25px;">
                    <div class="col-2 col-sm-2">
                        <img src="assets/6E.png" class="al" width="25" height="25">
                        <div class="text-muted">Indigo</div>
                        <div class="text-muted small">6E - 6022</div>
                    </div>
                    <div class="col-3 col-sm-3 text-right ">
                        <span class="">New Delhi (DEL) </span>
                        <div>
                            <h5 class="font-weight-bold mb-0">15:10 </h5>
                        </div>
                        <div class="text-muted">Tue, Mar 12</div>
                        <div class="text-muted  d-none d-lg-block textOverflow small" title="Indira Gandhi International Airport">
                            Indira Gandhi International Airport
                        </div>
                        <div class="text-muted textOverflow small" title="Terminal: 1">Terminal: 1</div>
                    </div>
                    <div class="col-4 col-sm-4 " style="display: flex;align-items: center;">
                        <div class="Flights-Results-LegInfo">
                            <div class="col-field stops ml-auto mr-auto pl-2">
                                <div class="duration">02h 10m</div>
                                <div class="top">
                                    <div id="XGWA-info-leg-0-stops" class="Flights-Results-StopsPlot circle">
                                        <span class="axis"></span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    Economy </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-3 ">
                        <span class="">Mumbai (BOM) </span>
                        <div>
                            <h5 class="font-weight-bold mb-0">17:20 </h5>
                        </div>
                        <div class="text-muted">Tue, Mar 12</div>
                        <div class="text-muted  d-none d-lg-block textOverflow small" title="Chhatrapati Shivaji International Airport"
                            >Chhatrapati Shivaji International Airport</div>
                            <div class="text-muted textOverflow small" title="Terminal: 2">Terminal: 2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 style="width: 80%; margin: auto;">Price Details</h1>
<div class="card border-0 mt-2 shadow rounded">
    
    <div class="row">
        <div class="col col-md-12 ml-auto mr-auto">
            <article class="card-group-item">
                <div class="filter-content">
                    <div class="card-body p-0 pt-2 pb-2">
                        <div class="pl-3 pr-3 pt-2">
                            <a class="text-dark"
                                >Base
                                Fare <span class="text-muted">(1 Passenger) <i
                                        class="zmdi zmdi-chevron-down"></i></span> 
                                        <span
                                    class="float-right">₹10770</span>
                                </a>
                            </div>
                        <div class="pl-3 pr-3 pt-2"><a class="text-dark"
                                >Taxes
                                <span class="text-muted">(1 Passenger)</span>
                                <span class="float-right">₹2086</span></a></div>
                        
                        <hr class="mb-0 mt-2">
                        <div class="pl-3 pr-3 pt-3 pb-0 font-weight-bold">Total Fare <span
                                class="float-right">₹12856</span></div>
                        <div class="addonshow">
                            <div class="pl-3 pr-3 h6 mt-2">Sub Total <span class="float-right">₹12856</span></div>
                            <div class="pl-3 pr-3 mt-2 text-success" style="font-weight:bold">Coupon Applied<span
                                    class="float-right">₹100 OFF</span></div>
                        </div>
                        <div class="h5 pl-3 pr-3 pt-2 pb-2 mt-3 mb-2 text-primary font-weight-bold"
                            style="background: #eee;">You Pay <span
                                class="font-weight-normal pl-1  btn badge btn-success" style="font-size:12px;"><i
                                    class="zmdi zmdi-check"></i> ALL INCLUSIVE</span> <span
                                class="float-right final_pay_amt">₹12756</span></div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<div id="searchBox2" class="searchBox2" style="margin-bottom: 30px;">
    <button class="searchButton" >Make Payment</button>
</div>
